---
import Icon from "astro-icon";

type sectionConfig = {
  title: string;
  description: string;
  seSimbol?: string;
};

type sectionDetails = {
  icon?: string;
  title: string;
  description: string;
  link?: string;
}[];

const sectionConfig: sectionConfig = {
  title: "Why Build on Hive?",
  description:
    "Hive is a powerful blockchain offering easy integration and zero transaction costs, ideal for developing decentralized applications.",
};

const sectionDetails: sectionDetails = [
  {
    icon: "hive",
    title: "Easy Integration",
    description:
      "Build with any programming language and easily connect to the Hive blockchain.",
  },
  {
    icon: "hive",
    title: "No Transaction Fees",
    description:
      "No fees are required to read and write data on the blockchain.",
  },
  {
    icon: "hive",
    title: "Single API Needed",
    description:
      "Connect your applications via an integrated API on the blockchain. Several free options are available.",
  },
];
---

<section
  id="features"
  class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
>
  <div
    class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
  >
    <h3 class="font-cinzel font-bold text-3xl leading-[1.1] md:text-6xl">
      {sectionConfig.title}
    </h3>
    <p
      class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
    >
      {sectionConfig.description}
    </p>
  </div>
  <div
    class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
  >
    {
      sectionDetails.map((feature, index) => (
        <div class="relative overflow-hidden rounded-lg border bg-background p-2">
          <div class="flex h-md flex-col justify-between rounded-md p-5">
            <div class="text-5xl pb-12">
              <Icon name={feature.icon} class="mt-2 size-18" />
            </div>
            <div class="space-y-4">
              <h3 class="font-bold text-2xl font-cinzel"> {feature.title}</h3>
              <p class="text-sm text-muted-foreground">{feature.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="mx-auto text-center md:max-w-[58rem]"></div>
</section>
